<%- include('partials/header.ejs'); -%>
<h1>im about</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quo repudiandae sunt similique harum tenetur! Nisi at maiores nobis. Animi officia voluptatem id vero nisi mollitia voluptates optio vitae repellat!</p>


<%- include('partials/footer'); -%>