<%- include('partials/header.ejs'); -%>
<h1>compose</h1>

<form action="/compose" method="post">
<h2>new title</h2>
<input type="text" name="newTitle" id="" size="500" style="width: 90vw; height: 50px;">
<br> <br>

<h2>new post</h2>
<input type="text" name="newPost" id="" size="500" style="width: 90vw; height: 200px;">

 <button class="btn" type="submit">Submit</button>
</form>





<%- include('partials/footer'); -%>