<%- include('partials/header.ejs'); -%>

<h1>im contact</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ipsum sapiente vero veritatis provident magnam pariatur consequuntur dicta ea necessitatibus. Reprehenderit harum quidem debitis labore numquam quas id facilis dignissimos?</p>


<%- include('partials/footer'); -%>